<%= render 'shared/facebook' %>
<p class="login_link_nonav">
    <%= link_to "Or signup using your email", new_user_path %>
</p>
<section class="marketing">
    <p>
        Better bet is a superawesome tool for making  it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</section>