<%= render 'shared/facebook' %>
<p class="login_link_nonav">
    <%= link_to "Or sign up using your email", new_user_path %>
</p>
<section class="marketing">
    <p>
        Better Bet helps you meet your personal goals through peer-to-peer accountability. Simply make a bet with a friend on your goal. If you don't meet your goal, then the money goes to your friend. If you do meet your goal, then the money is yours to keep and you get the satisfaction of a job well done.
    </p>
</section>