<div>

    <%= link_to "Sign out", logout_path %>
    <%= render 'shared/flash_errors', :flash => flash %>
    <%= render 'loginform' %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>

</div>
