<div class="new-session-form">
    <div class="login_form">
        <h3>Log in and be awesome</h3>
        <%= render 'shared/flash_errors' %>
        <%= render 'loginform' %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", class: "facebook_signin_link" %>
    </div>
    <%= link_to "Sign up", new_user_path %>
</div>
