<div class="new-session-form">
  <div class="login_form">
    <h3>Log in and be awesome</h3>
    <%= render 'shared/flash_errors' %>
    <%= render 'loginform' %>
    <%= link_to "Sign up", new_user_path, class: "session-form_signup" %>
  </div>
  <%= render 'shared/facebook' %>
</div>
