<div>
  <% if logged_in? %>
    <%= link_to "Sign out", logout_path %>
  <% else %>
    <%= render 'shared/flash_errors' %>
    <%= render 'loginform' %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <% end %>
</div>
