<!Doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hello, <%= @friend.name %>!</h1>
    <p>You have a new <strong>friend</strong> at BetterBet.com </p>
    <p>To see <%= @user.name %>'s profile </p>
    <p>login to the site by clicking the link below: </p>
    <a href="http://localhost:3000/login"><%= @url %></a>
    <p>Thanks for your support and have a great day!</p>
  </body>
</html>