<!Doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%= @user.name %>!</h1>
    <p>You have a new friend!!!!</p>
    <p>To see more information check your profile.</p>
  </body>
</html>