<!Doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BetterBet.com, <%= @user.name %>!</h1>
    <p>You have successfully signed up to BetterBet.com.</p>
    <p>Your username is: <%= @user.email %>.</p>

    <p>Make sure to link up your bank account on your <strong>profile page</strong>, so your friends can choose you as their benefactor on their goals.</p>

    <p>To do this, just follow this link to your profile: <a href="<%= @url %>"><%=@url %></a>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>