#friends-timeline {
    padding-top: 1em;
}

.friends-timeline_header {
    font-size: 1em;
    line-height: 2em;
    background: $light-gray;
    font-weight: 100;
    padding-left: 1em;
}

.friends-timeline_friend-activity {
    @include media($medium-screen) {
        @include span-columns(5);
    }
    @include row;
    @include span-columns(12);
    margin-top: 1em;
}

.friends-timeline_buddy_image {
    @include span-columns(3 of 12);
    opacity: 0.6;
}

.friends-timeline_buddy-name {
    text-align: left;
    font-weight: 100;
    font-size: 1.2em;
}

