section {
    @include row;
    margin: 0;
    padding: 0 1em;
    padding-bottom: $base-line-height;
}

.page-content {
    @include outer-container;
}

.goals_header {
    @include span-columns(12);
    font-size: $base-font-size;
    background: $light-gray;
    text-align: center;
    line-height: $base-line-height *1.5 ;
}