.goal {
    @include row;
    @include span-columns(12);
    margin-top: $base-line-height;
}

.goal_header {
    @include span-columns(12);
    border-bottom: 1px solid $dark-gray;
    margin-bottom: $base-line-height/2;
}
.goal_header h2{
    @include span-columns(10);
}

.goal_edit-button,
.goal_delete-button {
    @include span-columns(1);
    margin-top: .4em;
}

.goal_edit-button img{
  height: 40px;
  opacity: 0.3;
}

.goal_delete-button:hover img,
.goal_edit-button:hover img {
    opacity: 0.6;
}

.goal_delete-button {
    @include omega;
}

.goal_delete-button img {
    height: 40px;
    opacity: 0.3;
}

.goal_description {
    @include span-columns(12);
    padding-top: 1em;
}

.goal_label {
    font-size: .8em;
    line-height: 1em;
    margin-bottom: 0.3em;
}

.goal_money_box,
.goal_date_box {
    @include span-columns(6);
}

.goal_money,
.goal_date {
    height: 60px;
    padding: .5em 0;
    text-align: center;
}

.goal-state_ongoing .goal_money {
    background: $meditation;
}

.goal-state_failed .goal_money {
    background: $light-red;
}

.goal_date_box {
    @include omega;
}

.goal_date {
    background: $lighter-blue;
}

.goal_buddy_box {
    @include span-columns(12);
    background: $lighter-blue;
    padding: .5em 0;
}

.goal_buddy {
    margin: 0 3em;
}

.goal_buddy a {
    color: shade($light-blue, 50);
}

.goal_buddy_image {
    float: left;
    vertical-align: center;
    margin: 0;
    padding-left: .5em;
    width: 60px;
    height: 60px;
}
