.new-session-form {
    @include media($medium-screen) {
        @include span-columns(8);
        @include shift(2);
    }
    @include media($large-screen) {
        @include span-columns(6);
        @include shift(3);
    }
    @include row;
    padding: 1em;
}

.new-session-form h3 {
    margin-bottom: $base-line-height/4 ;
}

.new-session-form input[type=submit] {
    @include span-columns(6);
}

.facebook_signin_link {
  @include span-columns(4);
  @include shift(1);
}

.signup_form h3 {
    @include span-columns(12);
    margin-top: $base-line-height/2;
}