.new-goal-form {
    @include row;
    padding: 1em;
}

.new-goal-form h1 {
    font-weight: 100;
    margin-bottom: $base-line-height/4 ;
}

.new-goal-form label {
    clear: both;
}

.new-goal-form select {
    @include span-columns(3);
}

.new-goal-form input[type=submit] {
    @include span-columns(10);
    @include shift(1);
}