.new-user-form {
    @include media($medium-screen) {
        @include span-columns(8);
        @include shift(2);
    }
    @include media($large-screen) {
        @include span-columns(6);
        @include shift(3);
    }
    @include row;
    padding: 1em;
}

.new-user-form h1 {
    font-weight: 100;
    margin-bottom: $base-line-height/4 ;
}

.new-user-form input[type=submit] {
    @include span-columns(10);
    @include shift(1);
}

.new-user-form textarea {
    height: $base-line-height * 6;
}

