.new-user-form {
    @include media($medium-screen) {
        @include span-columns(8);
        @include shift(2);
    }
    @include media($large-screen) {
        @include span-columns(6);
        @include shift(3);
    }
    @include row;
    padding: 1em;
}

.new-user-form h1 {
    font-weight: 100;
    margin-bottom: $base-line-height/4 ;
}

.new-user-form input[type=submit] {
    @include span-columns(10);
    @include shift(1);
}

.new-user-form textarea {
    height: $base-line-height * 6;
}

.new-user-form h3 {
    @include span-columns(12);
    margin-top: $base-line-height/2;
}

.gravatar_form_block {
    @include span-columns(12);
    padding: $base-line-height/4 0 $base-line-height/2;
    border-bottom: 1px solid $meditation;
}

.gravatar_form_block label{
    display: inline;
}







