.new-user-form {
    @include media($medium-screen) {
        @include span-columns(8);
        @include shift(2);
    }
    @include media($large-screen) {
        @include span-columns(6);
        @include shift(3);
    }
    @include row;
    padding: 1em;
}

.new-user-form h1 {
    font-weight: 100;
    margin-bottom: $base-line-height/4 ;
}

.new-user-form input[type=submit] {
    @include span-columns(10);
    @include shift(1);
}

.new-user-form textarea {
    height: $base-line-height * 6;
}

.new-user-form h3 {
    @include span-columns(12);
    margin-top: $base-line-height/2;
}

.credit-card-confirmation {
    @include row;
    @include span-columns(6);
}

#expiration-month {
    @include span-columns(2 of 6);
}

#expiration-year {
    @include span-columns(3 of 6);
}

.cvc-block {
    @include span-columns(3);
    @include omega;
    margin-top: $base-line-height;
}

#cvc {
    @include span-columns(3 of 3);
}







