.user_profile {
    @include row;
    padding: 1em;
}

.user_profile_header {
    @include span-columns(12);
    border-bottom: 1px solid $dark-gray;
    margin-bottom: $base-line-height/4;
}
.user_profile_header h2{
    @include span-columns(10);
}

.user_edit-button,
.user_delete-button {
    @include span-columns(1);
    margin-top: .4em;
}

.user_edit-button img{
  height: 40px;
  opacity: 0.3;
}

.user_delete-button:hover img,
.user_edit-button:hover img {
    opacity: 0.6;
}

.user_delete-button {
    @include omega;
}

.user_delete-button img {
    height: 40px;
    opacity: 0.3;
}

.user_profile_img {
    @include media($medium-screen) {
        @include span-columns(3);
    }
    @include span-columns(4);
    margin-top: $base-line-height/2;
    margin-bottom: $base-line-height/2;
}

.user_profile_bio {
    @include media($medium-screen) {
        @include span-columns(6);
    }
    @include span-columns(8);
    @include omega;
    margin-top: $base-line-height/4;
}

.add_friend img,
.delete_friend img {
    @include span-columns(1);
    height: 40px;
    margin-top: .4em;
    opacity: 0.3;
}

.add_friend:hover img,
.delete_friend:hover img {
    opacity: 0.6;
}