<div id="goal-alert" class="reveal-modal" data-reveal>
  <h2>Hello, <%= current_user.name %>!</h2>
  <p class="lead">Time's up! Have you completed this goal?</p>
  <div class="goal-alert-msg"></div>
  <div class="goal-confirmation">
    <button class="goal-complete">Yes</button>
    <button class="goal-incomplete">No</button>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>