// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'OpenSans', $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$header-font-weight: 100;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

// Orange palette
$dictatorship: #FC580C;
$solid-orange: #FFA927;
$meditation: #FDCA49;
$light-blue: #69D2E7;
$lighter-blue: #A7DBD8;
$dark-blue: shade($light-blue, 50);

$dark-gray: #555;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$facebook-blue: #3B5998;

// Body Color
$base-body-color: $dark-gray;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $dictatorship;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 30);

// Border color
$base-border-color: $meditation;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
