<section class="friends-timeline">
  <h2 class="friends-timeline_header">Friends Timeline</h2>
  <% @friends.each do |friend| %>
    <%= render 'friendships/show_friend', friend: friend %>
  <% end %>
</section>