<form id="stripe-form" action="/charges" method="POST">
  <input type="hidden" name="amount" value="<%= @amount %>">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-amount= '<%= @amount %>'
    data-key = "<%= ENV['PUBLISHABLE_KEY']%>"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>